/* #region Global styling */
/* 'reset.css' took care of changing box-sizing to border-box for everything by default. */
html {
  font-size: 16px;
}

h1
{
  font-weight: 800;
}

h2,
h3,
h4,
h5 {
  font-weight: 700;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.2;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #4a4a4a;
}

.arial {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-content: center;

  font-family: Montserrat, Arial, Helvetica, sans-serif;
  line-height: 1.5;
  color: #4a4a4a;
  background-color: #f3f5f5;
}

.mobile {
  display: none;
}
/* #endregion */

/* #region Header */
header {
  position: fixed;
  height: 4rem;
  width: 100%;
  padding: 0 1.5rem;
  z-index: 2;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  background-color: white;
}

/* Main logo - academy name */
header .logo {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

/* Need this explicit declaration block because '.mobile' gets overriden by more
   specific 'header .logo' right above.*/
header .logo.mobile {
  display: none;
}

header .logo img {
  height: 3rem;
  width: auto;
}

@media only screen and (max-width: 700px) {
  header .logo img {
    height: 2rem;
    width: auto;
  }

  header .logo.mobile {
    display: flex;
  }
}

header nav a {
  font-size: 1.1rem;
  margin-left: 1rem;
}

#logo-text {
  text-transform: capitalize;
  font-size: 1.5rem;
}

#colmar {
  font-weight: bold;
}

#academy {
  opacity: 0.5;
}
/* #endregion */

main {
  position: relative;
  width: 100%;
  top: 4rem;

  /* Sections are arranged as a column-base flex container. */
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

section {
  width: 100%;
}

section:nth-child(2n + 3) {
  background-color: #eaebec;
}

@media only screen and (max-width: 700px) {
  section:nth-child(2n + 3) {
    background-color: inherit;
  }
}

/* #region Banner */
#banner {
  padding: 2rem 1.5rem;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;

  background-color: #d8d8d8;
}

#banner img {
  width: 60%;
  height: auto;
  max-height: 100%;
  margin-right: 1.5rem;
}

#banner-text {
  display: flex;
  flex-flow: column nowrap;
}

#banner-text h1,
#banner-text h3,
#button {
  margin: 0.75rem 6rem 0.75rem 0;
}

#button {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  line-height: 1.5;
  text-align: center;
  font-weight: 500;
  color: #f3f5f5;
  background-color: #4a4a4a;
}

@media only screen and (max-width: 700px) {
  #banner {
    padding: 0;

    flex-flow: column nowrap;
  }

  #banner img {
    width: 100%;
    height: auto;
    max-height: 100%;
    margin: 0;
  }

  #banner-text {
    padding: 2rem 1rem;
    width: 100%;
  }

  #banner-text h1 {
    margin: 0 0 2rem 0;
  }

  #banner-text h3 {
    margin: 0 0 1.5rem 0;
  }

  #button {
    width: 100%;
    margin: 0;
  }
}

/* #endregion */

/* #region Information */
#information {
  display: flex;
  flex-flow: row nowrap;
}

#information img {
  width: 100%;
  height: auto;
  max-height: 100%;
}

.info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-content: flex-start;
}

.info.large {
  padding: 2rem 1.5rem 2rem 1.5rem;

  /* maintain 60%-40% ratio between large and small info blocks*/
  flex-basis: 60%;
  flex-grow: 6;
  flex-shrink: 6;

  border-right: 1px solid #e0e2e2;
}

.info.large h2 {
  line-height: 1.2;
  margin: 2rem 0 1.5rem 0;
}

.info.large p {
  padding: 0 0 2rem 0;
}

/* Contains all small info blocks as a column-based flex container. */
#small-infos {
  padding-top: 1rem;

  /* maintain 60%-40% ratio between large and small info blocks*/
  flex-basis: 40%;
  flex-grow: 4;
  flex-shrink: 4;

  display: flex;
  flex-flow: column nowrap;
}

/* Each small info block is a row-based flex container of the image and text. */
.info.small {
  padding: 1rem;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  border-bottom: 1px solid #e0e2e2;
}

.info.small:last-child {
  background-color: #d8d8d8;
}

/* The text itself is a column-based flex-container. */
#small-infos .info-text {
  padding-left: 1rem;
  padding-right: 1rem;

  /* Maintain 35%-65% between the image and its text. */
  width: 65%;
  flex-grow: 6.5;
  flex-shrink: 6.5;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

#small-infos img {
  height: auto;
  max-height: 100%;

  /* Maintain 35%-65% between the image and its text. */
  width: 35%;
  flex-grow: 3.5;
  flex-shrink: 3.5;
}

.info-text a {
  color: #4a90e2;
  font-weight: 500;
}

.info-text h3,
.info-text p {
  padding: 0 0 0.5rem 0;
}

#author {
  font-size: 0.9rem;
  font-weight: bold;
}

@media only screen and (max-width: 700px) {
  /* On mobile, large info block is completely hidden by global '.desktop' rule.*/

  #small-infos {
    padding: 0 1rem;
  }

  .info.small {
    padding: 1rem 0 0 0;

    flex-flow: column nowrap;
    align-items: flex-start;

    border-bottom: none;
  }

  #small-infos img {
    padding: 0;

    /* On mobile, image takes 100% of the width. */
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
  }

  #small-infos .info-text {
    /* Spec mentioned 64px between small info blocks, but it looked crooked so I 
       went ahead and instead used values that were more pleasing.*/
    padding: 2rem 1rem;

    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
  }

  .info.small:last-child {
    background-color: inherit;
  }
}
/* #endregion */

/* #region Courses */
#courses-section {
  padding: 2rem 3.5rem;

  display: flex;
  flex-flow: column nowrap;

  width: 100%;
  text-align: center;
}

/* Courses section is implemented as a flex column of 2 flex rows, each containing
   3 courses. */
#courses {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

.courses-row {
  margin-top: 2rem;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch; /* Ensures all courses are of the same height, based on the tallest.*/
}

/* Each course is a flex column of the image and its text.*/
.course {
  margin: 0 1rem;
  height: auto;

  /* Ensure all courses are the same width. */
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;

  background-color: white;
}

.course img {
  height: auto;
  max-height: 100%;
  width: 100%;
}

.course-text {
  padding: 1rem 1rem 1.5rem 1rem;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;

  text-align: left;
}

.course-text h3,
.course-text h4 {
  padding: 0 0 0.5rem 0;
}

.course-text h4 {
  font-weight: normal;
  text-transform: capitalize;
}

@media only screen and (max-width: 700px) {
  #courses-section {
    padding: 2rem 1rem 1.5rem 1rem;
  }

  #courses {
    padding-top: 1rem;
  }

  .courses-row {
    margin: 0;

    flex-flow: column nowrap;
  }

  .course {
    margin: 0 0 0.5rem 0;

    /* Base width on content, since we have 100% available now. */
    flex-basis: auto;

    background-color: #d8d8d8;
  }

  .course-text {
    padding: 0;
  }

  .course-text h3 {
    padding: 1rem 1rem 1.5rem 1rem;
  }
}
/* #endregion */

/* #region Thesis */
#thesis-section {
  padding: 2rem 1.5rem;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

/* Organized as a flex row of a large (60%) article and a flex column (40%) of smaller ones.*/
#thesis-section-content {
  padding-top: 2rem;
  width: 100%;

  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
  align-items: flex-start;
}

.exhibit {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.exhibit.large {
  padding-right: 1.5rem;

  /* Maintain a 60%-40% ratio between large and small articles. */
  width: 60%;
  flex-grow: 6;
  flex-shrink: 6;
}

#thesis-section video {
  padding-bottom: 1.5rem;
  width: 100%;
  height: auto;
  max-height: 100%;
}

.exhibit.large p {
  padding-top: 0.5rem;
}

#small-exhibits {
  /* Maintain a 60%-40% ratio between large and small articles. */
  width: 40%;
  flex-grow: 4;
  flex-shrink: 4;

  align-items: stretch; /* Take all available space. */
}

/* Each small exhibit is a flex row of an image and its text. */
.exhibit.small {
  width: 100%;
  padding: 1rem;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.exhibit.small:first-child {
  background-color: #d8d8d8;
}

.exhibit.small img {
  padding-right: 1rem;

  width: 35%;
  height: auto;
  max-height: 100%;
}

@media only screen and (max-width: 700px) {
  #thesis-section {
    padding: 2rem 0 0 0;
  }

  /* Need this because the global '.desktop' rule is overridden by previous
     '#thesis-section-content' declaration block. */
  #thesis-section-content.desktop {
    display: none;
  }

  #thesis-section video {
    padding: 1rem 0 1.5rem 0;
  }
}
/* #endregion */

/* #region Footer */
footer {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid #e0e2e2;
  position: relative;
  top: 4rem;
  padding: 1rem 1.5rem 2rem 1.5rem;
  font-size: 0.8rem;
}

footer nav {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-content: flex-start;
}

footer nav a {
  padding-left: 1rem;
}

@media only screen and (max-width: 700px) {
  footer {
    padding: 1rem 1.5rem;
    border-top: none;
  }
}
/* #endregion */

/* #region Global mobile overrides. */
@media only screen and (max-width: 700px) {
  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }

  section {
    border-bottom: 1px solid #e0e2e2;
  }
}
/* #endregion */
